/* Flex */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Grid */
@media (min-width: 1001px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.item {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

